<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stremia Logout</title>
    <link rel="stylesheet" href="{% static 'css\signout.css' %}">
</head>
<body>
    </style>
    <div class="overlay">
        <div class="container">
            <div class="message-box">
                <h2>Leaving So Soon?</h2><br><br>
                <p>Just so you know, you don't always need to sign out of Stremia. It's only necessary if you're on a shared or public computer.</p>
                <p>You'll be redirected to Netflix.com in 30 seconds.</p>
                <a href="/">
                    <button>Go Now</button>
                </a>
                
            </div>
            <button class="sign-in-button">Sign Out</button>
        </div>
    </div>
</body>
</html>
