body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.header  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    background-color: #c40812;
}


.container {
    text-align: center;
    margin: 50px auto;
}

h1 {
    color: #333;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plan {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: left;
}

.plan h2 {
    color: #e50914;
}

.plan .price {
    font-size: 24px;
    font-weight: bold;
}

.plan p {
    margin: 10px 0;
}
